@import "tailwindcss";

@theme inline {
  --color-background: #0a0a0a;
  --color-foreground: #f1f1f1;
  --color-neon-cyan: #00ffff;
  --color-neon-purple: #a855f7;
  --color-card-bg: #111111;
  --color-text-secondary: #a0a0a0;
  --font-sans: var(--font-inter);
}

@layer utilities {
  .neon-glow-cyan {
    box-shadow:
      0 0 10px #00ffff,
      0 0 20px #00ffff;
  }
  .neon-glow-cyan-hover:hover {
    box-shadow:
      0 0 10px #00ffff,
      0 0 20px #00ffff;
  }
  .neon-glow-purple-hover:hover {
    box-shadow:
      0 0 10px #a855f7,
      0 0 20px #a855f7;
  }
  .neon-text-cyan {
    text-shadow:
      0 0 10px #00ffff,
      0 0 20px #00ffff;
  }
  .neon-text-purple {
    text-shadow:
      0 0 10px #a855f7,
      0 0 20px #a855f7;
  }
  .orange {
    color: #ffa600;
    text-shadow:
      0 0 5px #db3d3d,
      0 0 10px #97450e;
  }
  .orange-live-demo {
    color: #ffa600;
    text-shadow:
      0 0 5px #ffa600,
      0 0 10px #ffa600;
  }

  .glassmorphism {
    background: rgba(17, 17, 17, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.05);
  }
}

html {
  scroll-behavior: smooth;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

body {
  overflow-x: hidden;
}

section {
  scroll-margin-top: 6.5rem;
}

/* Scrollbar hide karne ke liye */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}